[submodule "Engine/ext/glm"]
	path = Engine/ext/glm
	url = https://github.com/g-truc/glm
[submodule "Engine/ext/glfw"]
	path = Engine/ext/glfw
	url = https://github.com/glfw/glfw
[submodule "Engine/ext/stb/stb"]
	path = Engine/ext/stb/stb
	url = https://github.com/nothings/stb
[submodule "Engine/ext/tinyobjloader/tinyobjloader"]
	path = Engine/ext/tinyobjloader/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
[submodule "Engine/ext/vk-bootstrap"]
	path = Engine/ext/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
[submodule "Engine/ext/VulkanMemoryAllocator"]
	path = Engine/ext/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
